@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --main-font: Poppins, sans-serif;
    --headings-dark: rgb(5,44,67);
    --navbar-bg: rgb(28,91,123);
    --bluelight: rgb(212,234,235);
    --blue-semi-dark: rgb(171,214,235);
    --blue-links: rgb(109,183,221);
    --tagline-color: rgba(0,0,0,0.3);
    --std-gap: 120px;
    --std-side-gap: 100px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fn-section-heading{
    font-family: var(--main-font);
    font-size: 38px;
    margin-top: 16px;
    color: var(--headings-dark);
    text-align: center;
}

.fn-section-tagline{
    color: var(--tagline-color);
    font-size: 13px;
    text-align: center;
    font-family: var(--main-font);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

section{
    padding: var(--std-gap);
}

nav{
    padding: 30px var(--std-side-gap);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body{
    font-family: var(--main-font);
}
