.feature{
   width: 100%;
   display: flex;
   gap: 20px;
   padding: 10px;
   border: solid 1px black;

}

.headings{
   font-size: 18px;

}

   
   
   
   
   
  
   /*
.fn-stats{
    display: flex;
    margin-top: 40px;
    justify-content: center;
    gap:20px;
}
.fn-stats .stat-info{
    width: 25%;
}
 */
/*  4 div
3 gaps between 4 divs
width:25%
width:calc(25% - 15px)
4 divs - 15px = 60px
 */
.fn-stats{
    display: flex;
    margin-top: 40px;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.fn-stats .stat-info{
    /* 2md method */
    width: calc(25% - 15px); 
    /* 3rd method */
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0; */
    /* flex:1 1 0; */
 }

 @media(max-width:992px){
    .fn-stats .stat-info{
        width: calc(50% - 10px);
    }
    
 }

 @media(max-width:576px){
    .fn-stats .stat-info{
        width: 100%;
    }
    
 }

.img{
    height: 150px;
    width: 150px;
    /* background-color: white; */
    border-radius: 50%;
    border: 1px solid whitesmoke;
    margin: auto;
    display: flex;
    justify-content: flex-end;
   background-image: url("001-handshake.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
 .small_img{
   width: 40px;
   height: 40px;
   border-radius: 50%;
   right: 0;
   top:0;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: orangered;
   color: white;

 }

 .text{
    font-size: 20px;
 }
 .btn{
    width: 100px;
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.fn-stats .img-info{
    width: calc(33.33% - 20px); 
 }

 @media(max-width:992px){
    .fn-stats .img-info{
        width: calc(50% - 10px);
    }
    
 }

 @media(max-width:576px){
    .fn-stats .img-info{
        width: 100%;
    }
    
 }